

.number{
    display: grid;
    grid-template-columns: 30% 30% 30% ;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    
}
/* .number h3{
    padding: 30px;
    background-color: aquamarine;
}*/
.number h3{
    padding: 30px;
    background-color: aquamarine;
    text-align: center;
}
.number h3:hover{
    background-color: rgb(3, 75, 51);
    cursor: pointer;
}

.number .buttonNumb{
    padding: 30px;
    background-color: aquamarine;
}
.number .buttonZero{
    /*grid*/
    padding: 30px;
    background-color: aquamarine;
}