*{
  padding: 0;
  margin: 0;
}
.calculator{
 
/*display:grid;
grid-template-columns: 40% 20%;
justify-content: center;
align-items: center;
width: 100%;*/
display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;


}

.App{
 /*text-align: center;*/
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 /*margin:100px 10px;*/
/* background-color: red;*/

}
.App h1{
  margin-top: 50px;
}
.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;

}
input{
  width: 275px;
  padding:12px;
}

  


